.no-validate{
    
    font-size: 12px;
    
    color:red;
    
}

.subParagraph{
    
    
    font-size:12px;
    
    font-weight:bold;
    
    color:darkgreen;      
}

#frameWork{
    
    
    font-size:12px;
    
    color:#0000FF;
    
}